html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.mdl-grid {
    max-width: 600px;
    margin-top: 20px;

}
.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}
.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mdl-textfield {
    width: 100%;
}
.mdl-card__title.mdl-card--expand {
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 0;
  padding-right: 0;
}
.mdl-card__title-text {
/*  padding-left: 16px;
  padding-right: 16px; */
}
.mdl-layout__content {
  flex: 1 0 auto;
}
.mdl-mini-footer {
  flex: 0 0 auto;
}
.fixed-bottom {
    position: fixed;
    text-align: center;
    bottom: 0;
    width:100%;
    z-index: 800;
}
.none {
  display: none;
}
.user-pic, #profile-pic {
  background-image: url('./../images/profile_placeholder.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
#loop-more {
  text-align: center;
}
#loop-more.add-padding {
  text-align: center;
  padding: 7px;
}
#bottom-toast, #msg-toast {
    visibility: hidden;
    min-width: 150px;
    margin-left: -75px;
    background-color: #808080;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 8px;
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 105px;
    font-size: 15px;
}
#bottom-toast.show, #msg-toast.show {
    visibility: visible;
    -webkit-animation: bottomfadein 0.5s, bottomfadeout 0.5s 2.0s;
    animation: bottomfadein 0.5s, bottomfadeout 0.5s 2.0s;
}
@-webkit-keyframes bottomfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 105px; opacity: 1;}
}
@keyframes bottomfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 105px; opacity: 1;}
}
@-webkit-keyframes bottomfadeout {
    from {bottom: 105px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes bottomfadeout {
    from {bottom: 105px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
img {
  max-width: 100%;
}
#selected-image {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  position: relative;
  top: 0;
}
#input-wrapper {
  padding: 8px;
  margin: 3px;
}
#enjoy-reading {
  position: relative;
  z-index: 900;
}
